
body {
    background: #F8A434;
    font-family: 'Lato', sans-serif;
    color: #FDFCFB;
    text-align: center;
  }
  
  
  form {
    width: 800px;
    height: 600px;
    margin: 8% auto;
  }
  
  
  .header {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 0.7px 0.7px gray;
  }
  
  
  .description {
    font-size: 23px;
    color: rgb(49, 13, 13);
    text-shadow: 0.7px 0.7px gray;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: -2px 0 45px;
  }
  
  .input {
    display: flex;
    align-items: center;
  }
  
  .output {
    display: flex;
    color: red;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-indent: 200px;
  }
  
  .button {
    height: 44px;
    border: none;
  }
  
    
  #email {
    width: 75%;
    background: #FDFCFB;
    font-family: inherit;
    color: black;
    letter-spacing: 1px;
    border-radius: 5px 0 0 5px;
    font-size: 15px;
    width: 600px;
    height: 140px;
    border: 2.5px solid grey;
    padding: 1.5px;
    margin: 10px;
  }
  
  
  #submit {
    width: 25%;
    height: 46px;
    background: #E86C8D;
    font-family: inherit;
    font-weight: bold;
    color: aqua;
    color: inherit;
    font-size: 18;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
    height: 50px;
  }
    
  
  #submit:hover {
    background: greenyellow;
  }
    
  
  input:focus {
    outline: none;
    outline: 2px solid forestgreen;
  }