<html>
  <head>
    <meta charset="utf-8">
    <title>Семантический анализ текстов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <form action="{{ url_for('prediction') }}" method="post">
      <div class="header">
         <p>Семантический анализ текстов</p>
      </div>
      <div class="description">
        <p>Введите/вставьте отзыв на мобильный телефон на русском языке.</p>
      </div>
      <div class="input">
        <textarea name="text" rows=5 cols=40 class="button" id="email">{{ text }}</textarea>
        <input type="submit" class="button" id="submit" value="Оценить">
      </div>
      <div class="output">
        <p>{{ prediction_message }}</p>
      </div>
    </form>
  </body>
</html>